canvas{
    width: 800px;
    height: 525px;
}

@media only screen and (max-width: 992px) {
    canvas{
        width: 700px;
        height: 425px;
    }
}

@media only screen and (max-width: 768px) {
    canvas{
        width: 600px;
        height: 325px;
    }
}

@media only screen and (max-width: 576px){
    canvas{
        width: 420px;
        height: 325px;
    }
}